

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color:  #fdfeff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.navbar-left{
    margin-left: 100px;
}

.navbar-right>ul{
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    list-style-type: none;
    font-size: 20px;
}

.navbar-right > ul > li ~ li{
    color: #b3b3b4;
}

.btn-navbar-right{
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid #4ac6f8;
        color: #47b9f6;
        background-color: transparent;
}

.content-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.content-1-left{
    margin-left: 100px;
}

.content-1-right{
    margin-right: 100px;
}

.content-1-left-heading{
    font-size: 70px;
    width: 650px;
}
.content-1-left-para{
    margin-top: 25px;
    color: #a7a7a8;
    font-size: 20px;
}

.btn-content-1-left{
    background-color: #0684ef;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 35px;
    border: none;
}

[alt="server-img"]{ 
   height: 50vh;
}

.content-2{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-2-right{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: space-around;
}

.content-2-right-heading{
    font-size: 55px;
}

.content-2-right-para{
    font-size: 20px;
    color: #a7a7a8;
}

.btn-content-2-right{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #067fee;
    border: none;
}

.testing-img{
    margin-left: 100px;
    height: 45vh;
}

.content-3{
    margin-top: 150px;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-3-left{
    margin-left: 100px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-3-left-heading{
    font-size: 65px;
}

.content-3-left-para{
    font-size: 20px;
    color: #a7a7a8;
}

.btn-content-3-left{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #067fee;
    border: none;
}

.content-3-right{
    margin-right: 100px;
}

.content-4{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-4-left-heading{
    margin-left: 100px;
    font-size: 55px;
}

.content-4-right-para{
    margin-right: 100px;
    font-size: 20px;
    color: #a7a7a8;
}

.content-5-inside{
    padding: 0 100px;
}

.content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    height: 35vh;
}

.content-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 35vh;
}

.content-1-top, .content-2-top, .content-3-top, .content-4-bottom, .content-5-bottom, .content-6-bottom{
    height: 32vh;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #fff;
}

.heading{
    font-size: 25px;
}

.same-for-all{
    color: #a7a7a8;
}

.packages{
    background-color: #0683ef;
    margin-top: 150px;
    padding: 20px 100px;
}

.packages-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 70vh;
}

.box-1{
    background-color: #fff;
    height: 67vh;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.last-heading{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box-2{
    background-color: #fff;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.box-2 > .top-heading-box-2{
    width: 86%;
    height: 13vh;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #353535;
}

.box-2 > .bottom-heading{
    padding: 10px 20px;
    position: relative;
    bottom: 24px;
}

.box-2 > .last-heading{
    position: relative;
    bottom: 35px;
}

.box-2 > .top-heading-box-2 > h2{
    color: #fff;
}

.box-same{
    color:  #b3b8c4;
}

.last-heading > h2 > span{
    color: #a5a9b7;
}

.last-heading > p{
    color:  #b3b8c4;
}

.btn-last-heading-box-1{
    border: 2px solid #8bd7fa;
    background-color: transparent;
    color: #1086ef;
    padding: 7px 30px;
    font-size: 17px;
    border-radius: 5px;
}

.btn-last-heading-box-2{
    background-color: transparent;
    color: #fff;
    border: none;
    background-color: #0680ef;
    padding: 7px 30px;
    font-size: 17px;
    border-radius: 5px;
}

.customer{
    margin-top: 100px;
    padding: 0 100px;
}

.top-customer-heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.customer-heading{
    color: #1d2b4f;
}

.customer-para{
    text-align: center;
    margin-top: 20px;
    color: #b9bec9;
}

.top-customer-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 40vh;
}

.bottom-customer-review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 40vh;
}

.first-customer-review{
    height: 35vh;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    color:  #abb0bd;
}

.author{
    color: #57617c;
    display: flex;
    align-items: center;
}

.author-headind-para{
    margin-left: 15px;
}

.service{
    margin-top: 100px;
    background: url(../Assets/footer-bg.svg) no-repeat center ;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: #fff;
}

.service-left{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.service-right > button {
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
}

.footer{
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.footer-left-para{
    margin-top: 20px;
    color:  #a4aab9;
}

.footer-right-para{
    color:  #a4aab9;
}

.footer-right-heading{
    color: #1f2d51;
}

.footer-right{
    display: flex;
    height: 45vh;
    width: 55vw;
    justify-content: space-between;
    align-items: center;
    line-height: 45px;
}

.Overview{
    position: relative;
    bottom: 20px;
}

.social-media{
    position: relative;
    bottom: 65px;
}

.social-media-icon{
    margin-top: 10px;
}

.sm-logo{
    width: 30px;
}